@import "homepage";
@import "services";
@import "servicePage";
@import "workPage";
@import "workItemPage";
@import "about";
@import "news";
@import "newsPage";
@import "contacts";

* {
  margin: 0px;
  padding: 0px;
}

.center {
  padding-left: 345px;
  padding-right: 345px;
}
